* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.01);
}
.movies{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.movie{
    position: relative;
}
.movie__cover-inner{
    display: flex;
    position: relative;
    gap: 16px;
    height: 450px;
}
.movie_cover{
    padding: 20px 0px 0px 0px;
    max-width: 286px;
    height: 100%;
}
.movie__info
{
    padding: 10px 0px;
    font-family: 'Inter', sans-serif;
}
.movie__title
{
    font-size: 20px;
    font-weight: 700;
    color: rgb(36, 20, 20, 1);
}
.movie__subtitle
{
    padding: 5px 0 0;
    color: rgba(99, 112, 131, 1);
    font-size: 14px;
}
.checked
{
    padding: 15px 0px 0px 0px;
    color: orange;
}
.check
{
    color: grey;
}
.movie__average
{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: rgba(99, 112, 131, 1);
    padding: 3px 0px 0px 0px;
}
.movie__category
{
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 12px;
    bottom: 0;
    right: 0;
    width: auto;
    background-color: rgba(245, 245, 248, 1);
    border-radius: 8px 0px 0px 0px;
}
.category__name
{
    font-family: 'Inter', sans-serif;
    line-height: 15px;
    padding: 2px;
    justify-content: center;
    display: flex;
}
.category__details
{
    font-family: 'Inter', sans-serif;
    line-height: 15px;
    padding: 2px;
    justify-content: center;
    display: flex;
}
button
{
    display: flex;
    background-color: rgba(149, 52, 210, 1);
    height: 56px;
    padding: 20px 100px;
    margin-top: 16px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    max-width: 286px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    transition: color .2s linear;
}
button:hover{
    background-color: rgb(169, 83, 223);
    transition: background-color .2s ease;
}
.modal--show{
    display: flex;
    justify-content: center;
    align-items: center;
}
